{# -*- engine:django -*- #}
{% extends "core/base.html" %}
{% load bootstrap4 font_awesome i18n static %}

{% block bootstrap4_extra_head %}
  <title>{% block bootstrap4_title %}{% blocktrans %}BiscuIT SIS - Import Untis data{% endblocktrans %}{% endblock%}
{% endblock %}

{% block page_title %}Import Untis data{% endblock %}

{% block content %}
 <div class="jumbotron">
  <p class="lead">
   {% blocktrans %}
    Untis provides a function for exporting all data as an XML file.
   {% endblocktrans %}
  </p>
  <div class="alert alert-danger" role="alert">
   {% fa 'exclamation-triangle' %}
   {% blocktrans %}
    All lesson data will be overwritten by the import. Teachers, rooms,
    classes and periods will be updated in place.
   {% endblocktrans %}
  </div>
 </div>

 <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form upload_form %}

  <input type="submit" value="Process" />
 </form>
{% endblock %}
